{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h3>{{ project.name }}</h3>
			<hr>
			<h4 style="color:red">{{ project.owner_company }}</h4>
			<hr>
			<p>Description: {{ project.description | safe }}</p>
			<hr>
			<p>Specialty: {{ project.speciality }}</p>
			<hr>
			<p>Language: {{ project.language }}</p>
			<hr>
			<p>Experience: {{ project.experience }}</p>
			<hr>
			{% if user.is_engineer %}
         	<a href="/project/edit?name={{ project.name }}" class="btn btn-default">Edit this Project</a>
            <a href="/project/delete?name={{ project.name }}" class="btn btn-default">Delete this Project</a>
         {% else %}
         {% endif %}	
 			{% if bookmarked %}
            <a href="/project/unbookmark?name={{ project.name }}" class="btn btn-default">Unbookmark this Project</a>
        	{% else %}
            <a href="/project/bookmark?name={{ project.name }}" class="btn btn-default">Bookmark this Project</a>
        	{% endif %}
		</div>
	</div>

{% endblock %}