{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			<p2>At least {{group.experience_required}} years of experience needed<p2>
			<h2>Our Projects</h2>
			{% for item in in_projects %}
					<tr>
					<p></p>
						<h3>{{ item.name }}</h3>
						decription:
						<td>{{item.description}}</td>
						<p></p>
					</tr>
					{% endfor %}
				<h2>Our members</h2>
			{% for item in members %}
					<tr>
					<p></p>
						<h5>{{ item.first_name }} {{item.last_name}}</h5>
						Type:
						<td>{{item.user_type}}</td>
						<p></p>
					</tr>
					{% endfor %}
			
		{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<form method="post" action="/group/addmember" class="panel-body validate">
				<div class="container" role="main">

	</div>

     		
    		</form>
    		<a href="/group/delete?name={{ group.name }}" class="btn btn-default">Delete Group</a>

			{% else %}

			{% endif %}
		</div>
	</div>
	{% if userIsMember %}
<div class="container" role="main">
    <div class="panel panel-default">
        <form method="post" enctype="multipart/form-data" class="panel-body validate">
        {% csrf_token %}
             <input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
             <br>
             <input type="submit" value="Submit" class="btn btn-primary">
             <input type="hidden" name="group" value="{{group.name}}" />
        </form>
    </div>
</div>

    <div class="container">
		<div class="table-responsive">
                <table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Add Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in users %}
					<tr>
						<td>{{ item.email }}                       <a href="/group/addMember?id={{ item.id }}&user={{ item.email }}&name={{group.name}}" class="btn btn-default">Add User</a>
</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<th>Comments</th>
					{% for item in comments %}
                   <tr>
                    <td>{{ item.user }}</td>
                       <td>{{ item.comment }}</td>
                       <td>
                       {% if item.user == currentUser %}
                       <a href="/group/deleteComment?id={{ item.id }}&user={{ item.user }}&name={{group.name}}" class="btn btn-default">Delete</a>
                       {% else %}
                       {% endif %}
                       </td>
                   </tr>
                   {% endfor %}
				</tbody>
			</table>
		
		</div>
	</div>
	{%if not in_projects %}
	<th>Recommended Projects</th>
	    <div class="container">
		<div class="table-responsive">
                <table class="table table-striped sortable">
				<thead>
                <tr>
                    <th>Project</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Years</th>
                    <th>Speciality</th>
                </tr>
                </thead>
					<tr>
						<th>Select Project</th>
					</tr>
				</thead>
				<tbody>
					{% for project in recommended %}
					<tr>
						<td>{{ project.name }}         </td>
						<td>{{ project.description }} </td>
						<td>{{ project.language }} </td>
						<td>{{ project.experience }} </td>
						<td>{{project.speciality}} </td>
						<td><a href="/group/selectProject?id={{ project.id }}&user={{ project.name }}&name={{group.name}}" class="btn btn-default">Select Project</a>
</td>
					</tr>
					<
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	
	{%if not in_projects %}
	    <div class="container">
		<div class="table-responsive">
                <table class="table table-striped sortable">
				<thead>
                <tr>
                    <th>Project</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Years</th>
                    <th>Speciality</th>
                </tr>
                </thead>
					<tr>
						<th>Select Project</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
						<td>{{ project.name }}         </td>
						<td>{{ project.description }} </td>
						<td>{{ project.language }} </td>
						<td>{{ project.experience }} </td>
						<td>{{project.speciality}} </td>
						<td><a href="/group/selectProject?id={{ project.id }}&user={{ project.name }}&name={{group.name}}" class="btn btn-default">Select Project</a>
</td>
					</tr>
					<
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	
	
{% endif %}
{% endblock %}


